.input-ui input[type='color'] {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.button-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui-select__arrow {
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
}

.ui-select option,
.ui-select optgroup {
    --tw-bg-opacity: 1;
    background-color: rgb(244 244 245 / var(--tw-bg-opacity));
}

:is(.dark .ui-select option), :is(.dark .ui-select optgroup) {
    --tw-bg-opacity: 1;
    background-color: rgb(63 63 70 / var(--tw-bg-opacity));
}

.tippy-box[data-animation=shift-toward-subtle][data-state=hidden] {
    opacity: 0
}

    .tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=top][data-state=hidden] {
        transform: translateY(-5px)
    }

    .tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=bottom][data-state=hidden] {
        transform: translateY(5px)
    }

    .tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=left][data-state=hidden] {
        transform: translateX(-5px)
    }

    .tippy-box[data-animation=shift-toward-subtle][data-state=hidden][data-placement^=right][data-state=hidden] {
        transform: translateX(5px)
    }

.ui-popover.content-full .ui-popover__trigger {
    width: 100%;
}

.expand-enter-active,
.expand-leave-active {
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}

.expand-enter,
.expand-leave-to {
    height: 0;
}